body {
    background-color: #F5A688;
    margin: 0;
}


.left-side {
    
    float: left;
    width: 20%;
    text-align: center;
    color: white;
}

.fruit-logos {
    width: 240px;
    height: 125px;
}

.fruit-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 125px;
}

.menu {
    font-weight: lighter;
}


.white-line {
    background-color: white;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 60px;
    
    
}

.left-side button {
    color: white;
    background: none;
    border: none;
    font-weight: bold;
    font-size:medium;
    height: 20px;


}

.home {
    
    float: right;
    width: 80%;
    height: 900px;
    background-color: white;
    margin: 0%;
}

.title {
    font-weight: bold;
    font-family: verdana;
    margin-left: 15px;
}

.fruits {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.fruitImg {
    text-align: center;
    margin: 15px;


}

.fruitImg img {
    width: 340px;
    height: 230px;
}




.fruitImg button {
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align:center;
    color: white;
    background: rgb(123, 184, 123);
    border: none;
    font-weight: bold;
    font-size: 17px;
    align-items: center;

}

.banner {
    float: right;
    width: 80%;
    height: 700px;
    background-color: white;
    margin: 0%;
}

.banner img {
    width: 800px;
    height: auto;
    
}

.Form {
    float: right;
    width: 80%;
    background-color: white;
}

.Form h1 {
    margin-left: 15px;
    font-weight: bold;
    font-family: verdana;
}

.Form form {
    margin-left: 10px;
    font-family: arial;
}

.Form form input[type=text] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #F5A688 ;
    border-radius: 4px;

}

.Form form textarea {
    border: 2px solid #F5A688;
}

.line {
    background-color: rgb(123, 184, 123);
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    height: 2px;
    width: auto;
    
    
}

.submit {
    width: 100px;
    height: 30px;
    justify-content: center;
    margin: 0 auto;
    text-align:center;
    color: white;
    background: rgb(123, 184, 123);
    border: none;
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    margin-left: 50%;
    margin-bottom: 70px;

}

.banner2 {
    width: 800px;
    height: auto;
    
}



